Node-RED Flow/flow.json
[
    {
        "id": "22dbb228.d3317e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2e0d2fb3.79303",
        "type": "ui_form",
        "z": "22dbb228.d3317e",
        "name": "",
        "label": "",
        "group": "df453e5d.bc922",
        "order": 3,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter your input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 50,
        "y": 160,
        "wires": [
            [
                "65dbb9b8.6c11b8"
            ]
        ]
    },
    {
        "id": "65dbb9b8.6c11b8",
        "type": "function",
        "z": "22dbb228.d3317e",
        "name": "",
        "func": "msg.payload = msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "ef29e3ec.1f91e",
                "d6194724.447b98"
            ]
        ]
    },
    {
        "id": "7cf50b36.891b94",
        "type": "function",
        "z": "22dbb228.d3317e",
        "name": "",
        "func": "msg.payload = msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "2719dc5a.a4a374"
            ]
        ]
    },
    {
        "id": "ef29e3ec.1f91e",
        "type": "watson-conversation-v1",
        "z": "22dbb228.d3317e",
        "name": "Customer Care",
        "workspaceid": "368bcb71-0a1c-42a1-8bdf-a802a406cabf",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/6683467c-5566-4360-a9d3-2bb31766d006",
        "timeout": "",
        "optout-learning": false,
        "x": 380,
        "y": 100,
        "wires": [
            [
                "260ff1aa.eec9ee",
                "7cf50b36.891b94"
            ]
        ]
    },
    {
        "id": "d6194724.447b98",
        "type": "ui_text",
        "z": "22dbb228.d3317e",
        "group": "df453e5d.bc922",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "260ff1aa.eec9ee",
        "type": "debug",
        "z": "22dbb228.d3317e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "2719dc5a.a4a374",
        "type": "ui_text",
        "z": "22dbb228.d3317e",
        "group": "df453e5d.bc922",
        "order": 5,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "Bot",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "df453e5d.bc922",
        "type": "ui_group",
        "z": "",
        "name": "Chatbot",
        "tab": "cdd9e8b9.351bd8",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "cdd9e8b9.351bd8",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Care Helpdesk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
