Node-RED Flow/flow.json
[
    {
        "id": "e33e63b3.82fa3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "a7c724c6.4fc758",
        "type": "ui_form",
        "z": "e33e63b3.82fa3",
        "name": "",
        "label": "",
        "group": "df453e5d.bc922",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "What is your query",
                "value": "Input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "1df2dd4a.4618c3"
            ]
        ]
    },
    {
        "id": "df558f0f.4dd5c",
        "type": "watson-discovery-v1",
        "z": "e33e63b3.82fa3",
        "name": "newsapp",
        "environmentname": "",
        "environmentId": "system",
        "collectionId": "news-en",
        "configurationname": "",
        "configurationId": "",
        "language_code": "en",
        "collection_name": "",
        "count": "1",
        "passages": true,
        "nlp_query": true,
        "query": "",
        "filter": "",
        "aggregation": "",
        "return": "",
        "description": "",
        "size": "LT",
        "discovery-method": "query",
        "service-endpoint": "https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/dd5e91ce-b19a-4242-b5bc-bdc838e5bffb",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "a420c501.c34848",
                "df472a87.a72b98"
            ]
        ]
    },
    {
        "id": "1df2dd4a.4618c3",
        "type": "function",
        "z": "e33e63b3.82fa3",
        "name": "",
        "func": "msg = {\n    discoveryparams: {\n        \"environment_id\": \"system\",\n        \"query\": msg.payload.input\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "df558f0f.4dd5c"
            ]
        ]
    },
    {
        "id": "df472a87.a72b98",
        "type": "function",
        "z": "e33e63b3.82fa3",
        "name": "",
        "func": "msg.payload = msg.search_results.results[0].text\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "d8942c04.62131",
                "aa814696.0d2da8"
            ]
        ]
    },
    {
        "id": "a420c501.c34848",
        "type": "debug",
        "z": "e33e63b3.82fa3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "d8942c04.62131",
        "type": "debug",
        "z": "e33e63b3.82fa3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "aa814696.0d2da8",
        "type": "ui_text",
        "z": "e33e63b3.82fa3",
        "group": "df453e5d.bc922",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "results",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "df453e5d.bc922",
        "type": "ui_group",
        "z": "",
        "name": "Chatbot",
        "tab": "cdd9e8b9.351bd8",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "cdd9e8b9.351bd8",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Care Helpdesk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
